@font-face {
    font-family: 'myfont';
    src: url('../font/myfont.eot');
    src: url('../font/myfont.eot#iefix') format('embedded-opentype'),
    url('../font/myfont.woff2') format('woff2'),
    url('../font/myfont.woff') format('woff'),
    url('../font/myfont.ttf') format('truetype'),
    url('../font/myfont.svg#myfont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}
.mf{
    font-family: "myfont";
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height:inherit;
}
.mf[class*=" mf-"]:not(.after-icon):before,
.mf[class*=" mf-"].after-icon:after {font-weight:900}

.mf[class*=" mfr-"]:not(.after-icon):before,
.mf[class*=" mfr-"].after-icon:after{font-weight:400}

.mf.lg{font-size:1.33333em;vertical-align:-.0667em}
.mf.x2{font-size:2em}
.mf.x3{font-size:3em}
.mf.x4{font-size:4em}
.mf.x5{font-size:5em}
.mf.x6{font-size:6em}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'myfont';
    src: url('../font/myfont.svg#myfont') format('svg');
  }
}
*/

.mf:not(.after-icon):before, .mf.after-icon:after{
    font-family: "myfont";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.mf.mf-spin{-webkit-animation:mf-spin 2s linear infinite;animation:mf-spin 2s linear infinite}
@keyframes mf-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}

.mf.mf-rotate-45:not(.after-icon):before, .mf.mf-rotate-45.after-icon:after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.mf.mf-rotate-90:not(.after-icon):before, .mf.mf-rotate-90.after-icon:after{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.mf.mf-rotate-135:not(.after-icon):before, .mf.mf-rotate-135.after-icon:after{-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.mf.mf-rotate-180:not(.after-icon):before, .mf.mf-rotate-180.after-icon:after{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.mf.mf-rotate-225:not(.after-icon):before, .mf.mf-rotate-225.after-icon:after{-webkit-transform:rotate(225deg);-ms-transform:rotate(225deg);transform:rotate(225deg)}
.mf.mf-rotate-270:not(.after-icon):before, .mf.mf-rotate-270.after-icon:after{-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.mf.mf-rotate-315:not(.after-icon):before, .mf.mf-rotate-315.after-icon:after{-webkit-transform:rotate(315deg);-ms-transform:rotate(315deg);transform:rotate(315deg)}
.mf.mf-rotate-360:not(.after-icon):before, .mf.mf-rotate-360.after-icon:after{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}

.mf.mf-flip-h:not(.after-icon):before, .mf.mf-flip-h.after-icon:after{-webkit-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1)}
.mf.mf-flip-v:not(.after-icon):before, .mf.mf-flip-v.after-icon:after{-webkit-transform:scaleY(-1);-ms-transform:scaleY(-1);transform:scaleY(-1)}

.mf.mf-facebook:not(.after-icon):before, .mf.mf-facebook.after-icon:after{content:'\e800';}
.mf.mf-facebook-f:not(.after-icon):before, .mf.mf-facebook.after-icon:after{content:'\e801';}
.mf.mf-facebook-square:not(.after-icon):before, .mf.mf-facebook.after-icon:after{content:'\e802';}
.mf.mf-instagram:not(.after-icon):before, .mf.mf-instagram.after-icon:after{content:'\e803';}
.mf.mf-instagram-square:not(.after-icon):before, .mf.mf-instagram.after-icon:after{content:'\e804';}
.mf.mfr-angle-down:not(.after-icon):before, .mf.mfr-angle-down.after-icon:after{content:'\e805';}
.mf.mfr-angle-left:not(.after-icon):before, .mf.mfr-angle-left.after-icon:after{content:'\e806';}
.mf.mfr-angle-right:not(.after-icon):before, .mf.mfr-angle-right.after-icon:after{content:'\e807';}
.mf.mfr-angle-up:not(.after-icon):before, .mf.mfr-angle-up.after-icon:after{content:'\e808';}
.mf.mfr-check:not(.after-icon):before,.mf.mfr-check.after-icon:after{content:'\e809';}
.mf.mfr-check-circle:not(.after-icon):before, .mf.mfr-check-circle.after-icon:after{content:'\e80a';}
.mf.mfr-check-square:not(.after-icon):before, .mf.mfr-check-square.after-icon:after{content:'\e80b';}
.mf.mfr-exclamation-triangle:not(.after-icon):before, .mf.mfr-exclamation-triangle.after-icon:after{content:'\e80c';}
.mf.mfr-exclamation:not(.after-icon):before, .mf.mfr-exclamation.after-icon:after{content:'\e80d';}
.mf.mfr-envelope:not(.after-icon):before, .mf.mfr-envelope.after-icon:after{content:'\e80e';}
.mf.mfr-info-circle:not(.after-icon):before, .mf.mfr-info-circle.after-icon:after{content:'\e80f';}

.mf.mfr-phone:not(.after-icon):before, .mf.mfr-phone.after-icon:after{content:'\e811';}
.mf.mfr-times:not(.after-icon):before, .mf.mfr-times.after-icon:after{content:'\e812';}
.mf.mf-angle-down:not(.after-icon):before, .mf.mf-angle-down.after-icon:after{content:'\e813';}
.mf.mf-angle-left:not(.after-icon):before, .mf.mf-angle-left.after-icon:after{content:'\e814';}
.mf.mf-angle-right:not(.after-icon):before, .mf.mf-angle-right.after-icon:after{content:'\e815';}
.mf.mf-angle-up:not(.after-icon):before, .mf.mf-angle-up.after-icon:after{content:'\e816';}
.mf.mf-bars:not(.after-icon):before, .mf.mf-bars.after-icon:after{content:'\e817';}
.mf.mf-check:not(.after-icon):before, .mf.mf-check.after-icon:after{content:'\e818';}
.mf.mf-check-circle:not(.after-icon):before, .mf.mf-check-circle.after-icon:after{content:'\e819';}
.mf.mf-check-square:not(.after-icon):before, .mf.mf-check-square.after-icon:after{content:'\e81a';}
.mf.mf-exclamation:not(.after-icon):before, .mf.mf-exclamation.after-icon:after{content:'\e81b';}
.mf.mf-exclamation-triangle:not(.after-icon):before, .mf.mf-exclamation-triangle.after-icon:after{content:'\e81c';}
.mf.mf-envelope:not(.after-icon):before, .mf.mf-envelope.after-icon:after{content:'\e81d';}
.mf.mf-info-circle:not(.after-icon):before, .mf.mf-info-circle.after-icon:after{content:'\e81e';}

.mf.mf-phone:not(.after-icon):before, .mf.mf-phone.after-icon:after{content:'\e820';}
.mf.mf-times:not(.after-icon):before, .mf.mf-times.after-icon:after{content:'\e821';}
.mf.mf-times-circle:not(.after-icon):before, .mf.mf-times-circle.after-icon:after{content:'\e822';}
.mf.mfr-times-circle:not(.after-icon):before, .mf.mfr-times-circle.after-icon:after{content:'\e823';}
.mf.mf-times-square:not(.after-icon):before, .mf.mf-times-square.after-icon:after{content:'\e824';}
.mf.mfr-times-square:not(.after-icon):before, .mf.mfr-times-square.after-icon:after{content:'\e825';}
.mf.mfr-sync:not(.after-icon):before, .mf.mfr-sync.after-icon:after{content:'\e825';}
.mf.mfr-sync-alt:not(.after-icon):before, .mf.mfr-sync-alt.after-icon:after{content:'\e827';}
.mf.mf-sync:not(.after-icon):before, .mf.mf-sync.after-icon:after{content:'\e828';}
.mf.mf-sync-alt:not(.after-icon):before, .mf.mf-sync-alt.after-icon:after{content:'\e829';}

.mf.mf-linkedin:not(.after-icon):before, .mf.mf-linkedin.after-icon:after{content:'\e82a'}
.mf.mf-linkedin-in:not(.after-icon):before, .mf.mf-linkedin-in.after-icon:after{content:'\e82b'}
.mf.mf-twitter:not(.after-icon):before, .mf.mf-twitter.after-icon:after{content:'\e82c'}
.mf.mf-twitter-square:not(.after-icon):before, .mf.mf-twitter-square.after-icon:after{content:'\e82d'}
.mf.mfr-caret-down:not(.after-icon):before, .mf.mfr-caret-down.after-icon:after{content:'\e82e'}
.mf.mfr-caret-left:not(.after-icon):before, .mf.mfr-caret-left.after-icon:after{content:'\e82f'}
.mf.mfr-caret-right:not(.after-icon):before, .mf.mfr-caret-right.after-icon:after{content:'\e830'}
.mf.mfr-caret-up:not(.after-icon):before, .mf.mfr-caret-up.after-icon:after{content:'\e831'}
.mf.mf-caret-down:not(.after-icon):before, .mf.mf-caret-down.after-icon:after{content:'\e832'}
.mf.mf-caret-left:not(.after-icon):before, .mf.mf-caret-left.after-icon:after{content:'\e833'}
.mf.mf-caret-right:not(.after-icon):before, .mf.mf-caret-right.after-icon:after{content:'\e834'}
.mf.mf-caret-up:not(.after-icon):before, .mf.mf-caret-up.after-icon:after{content:'\e835'}
.mf.mfr-chevron-down:not(.after-icon):before, .mf.mfr-chevron-down.after-icon:after{content:'\e836'}
.mf.mfr-chevron-left:not(.after-icon):before, .mf.mfr-chevron-left.after-icon:after{content:'\e837'}
.mf.mfr-chevron-right:not(.after-icon):before, .mf.mfr-chevron-right.after-icon:after{content:'\e838'}
.mf.mfr-chevron-up:not(.after-icon):before, .mf.mfr-chevron-up.after-icon:after{content:'\e839'}
.mf.mf-chevron-down:not(.after-icon):before, .mf.mf-chevron-down.after-icon:after{content:'\e83a'}
.mf.mf-chevron-left:not(.after-icon):before, .mf.mf-chevron-left.after-icon:after{content:'\e83b'}
.mf.mf-chevron-right:not(.after-icon):before, .mf.mf-chevron-right.after-icon:after{content:'\e83c'}
.mf.mf-chevron-up:not(.after-icon):before, .mf.mf-chevron-up.after-icon:after{content:'\e83d'}
.mf.mfr-home:not(.after-icon):before, .mf.mfr-home.after-icon:after{content:'\e83e'}
.mf.mf-home:not(.after-icon):before, .mf.mf-home.after-icon:after{content:'\e83f'}
.mf.mf-th:not(.after-icon):before, .Xafte.mf.mf-th:notr-icon:after{content:'\e840';}
.mf.mfr-search:not(.after-icon):before, .mf.mfr-search.after-icon:after{content:'\e841'}
.mf.mfr-search-plus:not(.after-icon):before, .mf.mfr-search-plus.after-icon:after{content:'\e842'}
.mf.mf-search:not(.after-icon):before, .mf.mf-search.after-icon:after{content:'\e843'}
.mf.mf-search-plus:not(.after-icon):before, .mf.mf-search-plus.after-icon:after{content:'\e844'}
.mf.mfr-plus:not(.after-icon):before, .mf.mfr-plus.after-icon:after{content:'\e845'}
.mf.mf-plus:not(.after-icon):before, .mf.mf-plus.after-icon:after{content:'\e846'}
.mf.mfr-minus:not(.after-icon):before, .mf.mfr-minus.after-icon:after{content:'\e847'}
.mf.mf-minus:not(.after-icon):before, .mf.mf-minus.after-icon:after{content:'\e848'}
.mf.mf-whatsapp:not(.after-icon):before, .mf.mf-whatsapp.after-icon:after{content:'\e849'}
.mf.mf-whatsapp-square:not(.after-icon):before, .mf.mf-whatsapp-square.after-icon:after{content:'\e84a'}
.mf.mfr-heart:not(.after-icon):before, .mf.mfr-heart.after-icon:after{content:'\e84b'}
.mf.mf-heart:not(.after-icon):before, .mf.mf-heart.after-icon:after{content:'\e84c'}
.mf.mfr-paper-plane:not(.after-icon):before, .mf.mfr-paper-plane.after-icon:after{content:'\e84d'}
.mf.mf-paper-plane:not(.after-icon):before, .mf.mf-paper-plane.after-icon:after{content:'\e84e'}
.mf.mfr-star:not(.after-icon):before, .mf.mfr-star.after-icon:after{content:'\e84f'}
.mf.mf-star:not(.after-icon):before, .mf.mf-star.after-icon:after{content:'\e850'}
.mf.mfr-check-circle:not(.after-icon):before, .mf.mfr-check-circle.after-icon:after{content:'\e851'}
.mf.mfr-exclamation-circle:not(.after-icon):before, .mf.mfr-exclamation-circle.after-icon:after{content:'\e852'}
.mf.mfr-exclamation-triangle:not(.after-icon):before, .mf.mfr-exclamation-triangle.after-icon:after{content:'\e853'}
.mf.mfr-info-circle:not(.after-icon):before, .mf.mfr-info-circle.after-icon:after{content:'\e854'}
.mf.mfr-th:not(.after-icon):before, .mf.mfr-th.after-icon:after{content:'\e855'}
.mf.mfr-th-large:not(.after-icon):before, .mf.mfr-th-large.after-icon:after{content:'\e856'}
.mf.mfr-th-list:not(.after-icon):before, .mf.mfr-th-list.after-icon:after{content:'\e857'}
.mf.mfr-trash-alt:not(.after-icon):before, .mf.mfr-trash-alt.after-icon:after{content:'\e858'}
.mf.mf-check-circle:not(.after-icon):before, .mf.mf-check-circle.after-icon:after{content:'\e859'}
.mf.mf-exclamation-circle:not(.after-icon):before, .mf.mf-exclamation-circle.after-icon:after{content:'\e85a'}
.mf.mf-exclamation-triangle:not(.after-icon):before, .mf.mf-exclamation-triangle.after-icon:after{content:'\e85b'}
.mf.mf-info-circle:not(.after-icon):before, .mf.mf-info-circle.after-icon:after{content:'\e85c'}
.mf.mf-th:not(.after-icon):before, .mf.mf-th.after-icon:after{content:'\e85d'}
.mf.mf-th-large:not(.after-icon):before, .mf.mf-th-large.after-icon:after{content:'\e85e'}
.mf.mf-th-list:not(.after-icon):before, .mf.mf-th-list.after-icon:after{content:'\e85f'}
.mf.mf-trash-alt:not(.after-icon):before, .mf.mf-trash-alt.after-icon:after{content:'\e860'}
.mf.mfr-lock:not(.after-icon):before, .mf.mfr-lock.after-icon:after{content:'\e861'}
.mf.mf-lock:not(.after-icon):before, .mf.mf-lock.after-icon:after{content:'\e862'}
.mf.mfr-eye:not(.after-icon):before, .mf.mfr-eye.after-icon:after{content:'\e863'}
.mf.mf-eye:not(.after-icon):before, .mf.mf-eye.after-icon:after{content:'\e864'}
.mf.mfr-eye-slash:not(.after-icon):before, .mf.mfr-eye-slash.after-icon:after{content:'\e865'}
.mf.mf-eye-slash:not(.after-icon):before, .mf.mf-eye-slash.after-icon:after{content:'\e866'}
.mf.mfr-user:not(.after-icon):before, .mf.mfr-user.after-icon:after{content:'\e867'}
.mf.mf-user:not(.after-icon):before, .mf.mf-user.after-icon:after{content:'\e868'}
.mf.mfr-map-marker:not(.after-icon):before, .mf.mfr-map-marker.after-icon:after{content:'\e869'}
.mf.mfr-map-marker-alt:not(.after-icon):before, .mf.mfr-map-marker-alt.after-icon:after{content:'\e86a'}
.mf.mf-map-marker:not(.after-icon):before, .mf.mf-map-marker.after-icon:after{content:'\e8ab'}
.mf.mf-map-marker-alt-:not(.after-icon):before, .mf.mf-map-marker-alt-.after-icon:after{content:'\e86c'}
.mf.mf-thumbs-up:not(.after-icon):before, .mf.mf-thumbs-up.after-icon:after{content:'\e86d'}
.mf.mfr-thumbs-up:not(.after-icon):before, .mf.mfr-thumbs-up.after-icon:after{content:'\e86e'}

.mf.mf-youtube:not(.after-icon):before, .mf.mf-youtube.after-icon:after{content:'\e86f'}
.mf.mf-send:not(.after-icon):before, .mf.mf-send.after-icon:after{content:'\e870'}
.mf.mf-cellphone:not(.after-icon):before, .mf.mf-cellphone.after-icon:after{content:'\e871'}
.mf.mf-crosshairs-gps:not(.after-icon):before, .mf.mf-crosshairs-gps.after-icon:after{content:'\e872'}

.mf.mf-share-alt:not(.after-icon):before, .mf.mf-share-alt.after-icon:after{content:'\e873'}
.mf.mf-share:not(.after-icon):before, .mf.mf-share.after-icon:after{content:'\e874'}
.mf.mf-telegram-plane:not(.after-icon):before, .mf.mf-telegram-plane.after-icon:after{content:'\e875'}
.mf.mf-telegram:not(.after-icon):before, .mf.mf-telegram.after-icon:after{content:'\e876'}

.mf.mf-shopping-bag:not(.after-icon):before, .mf.mf-shopping-bag.after-icon:after{content:'\e877'}

.mf.mfr-calendar-alt:not(.after-icon):before, .mf.mfr-calendar-alt.after-icon:after {content:'\e878'}
.mf.mf-calendar-alt:not(.after-icon):before, .mf.mf-calendar-alt.after-icon:after {content:'\e879'}

.mf.mfr-edit:not(.after-icon):before, .mf.mfr-edit.after-icon:after{content:'\e87a'}
.mf.mf-edit:not(.after-icon):before, .mf.mf-edit.after-icon:after{content:'\e87b'}

.mf.mfr-redo:not(.after-icon):before, .mf.mfr-redo.after-icon:after{content:'\e87c'}
.mf.mfr-redo-alt:not(.after-icon):before, .mf.mfr-redo-alt.after-icon:after{content:'\e87d'}
.mf.mfr-trash-alt:not(.after-icon):before, .mf.mfr-trash-alt.after-icon:after{content:'\e87e'}
.mf.mfr-undo:not(.after-icon):before, .mf.mfr-undo.after-icon:after{content:'\e87f'}
.mf.mfr-undo-alt:not(.after-icon):before, .mf.mfr-undo-alt.after-icon:after{content:'\e880'}
.mf.mf-redo:not(.after-icon):before, .mf.mf-redo.after-icon:after{content:'\e881'}
.mf.mf-redo-alt:not(.after-icon):before, .mf.mf-redo-alt.after-icon:after{content:'\e882'}
.mf.mf-trash-alt:not(.after-icon):before, .mf.mf-trash-alt.after-icon:after{content:'\e883'}
.mf.mf-undo:not(.after-icon):before, .mf.mf-undo.after-icon:after{content:'\e884'}
.mf.mf-undo-alt:not(.after-icon):before, .mf.mf-undo-alt.after-icon:after{content:'\e885'}

.mf.mf-star-half-alt:not(.after-icon):before, .mf.mf-star-half-alt.after-icon:after{content:'\e886'}
.mf.mfr-star:not(.after-icon):before, .mf.mfr-star.after-icon:after{content:'\e887'}
